/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary:  #10B981
}
.custom-toolbar {
    --background:rgb(3,7,18);
    --color: white;
  }