.container {
    padding: 20px;
    overflow-y: auto;
  }
  
  .main-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .thumbnail-image {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  h4, h6, p, .propose-title, .offers-title {
    color: rgb(0, 0, 0); 
  }
  
  .price {
    color: #4caf50; 
    margin: 10px 0;
  }
  
  .propose-title {
    margin: 20px 0 10px;
  }
  
  .proposal-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .propose-button {
    background-color: black;
    color: white;
  }
  
  .offers-title {
    margin-top: 20px;
  }
  
  .offers {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .offer-button {
    background-color: #4caf50;
    color: white;
  }
  

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  